<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="task.mozilla9025.com.taskmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.utarel.com"
                    android:scheme="https" />
                <data
                    android:host="utarel.com"
                    android:scheme="https" />
                <data
                    android:host="utarel.com"
                    android:scheme="text/plain" />
                <data
                    android:host="app.utarel.com"
                    android:scheme="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.StartActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.TaskEditActivity" />
        <activity android:name=".ui.activities.ProjectEditActivity" />
        <activity android:name=".ui.activities.ProjectActivity" />
        <activity android:name=".ui.activities.TaskActivity" />
        <activity android:name=".ui.activities.RegisterActivity" />
    </application>

</manifest>